:root {
  --clr-primary: #83B7C8;
  --clr-secondary: #7294C8;
  --clr-light: #fafafa;
  --clr-dark: #57585a;
  --clr-shadow: #00000030;
  --fnt-splash: 'Roboto', sans-serif;
  --fnt-page: 'Open Sans', sans-serif;
  --fnt-code: monospace;
}

body {
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
