.footer__flex {
    display: flex;
    justify-content: space-between;
}

.contributions,
.copywrite {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;;
}

@media screen and ( max-width:600px ) {
    .footer__flex {
        flex-direction: column;
    }
}