.editor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 120ms ease-in;
    overflow: auto;
}

.left__card {
    width: calc(40% - 2.5rem);
    min-height: 20%;
    background-color: #fff;
    box-shadow: 0 4px 4px var(--clr-shadow);
    border-radius: .5rem;
    padding: 0;
    margin: 1.25rem;
    transition: all 120ms ease-in;
}

.comp__list__btns {
    font-size: .875rem;
    padding: .1875em .1875em;
    border-radius: 2px;
    font-family: var(--fnt-splash);
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: var(--clr-secondary);
    border: none;
    text-shadow: 0px 4px 4px var(--clr-shadow);
}

.comp__list__btns:hover {
    cursor: pointer;
    box-shadow: inset 0px 4px 4px var(--clr-shadow);
    text-shadow: none;
    background-color: #fff;
    color: var(--clr-secondary);
}


.delete {
    background-color: #b12727;
    color: #fff;
}

.delete:hover {
    background-color: #fff;
    color: #b12727;
}

.render {
    background-color: #2b852b;
    color: #fff;
}

.render:hover {
    background-color: #fff;
    color: #2b852b;;
}

.right__side {
    width: 60%;
    display: flex;
    flex-direction: column;
    transition: all 120ms ease-in;
}

.top__card {
    background-color: #fff;
    box-shadow: 0 4px 4px var(--clr-shadow);
    border-radius: .5rem;
    padding: 0;
    margin: 1.25rem;
}

.bottom__card {
    background-color: #fff;
    box-shadow: 0 4px 4px var(--clr-shadow);
    border-radius: .5rem;
    padding: 0;
    margin: 1.25rem;
}

.tag {
    margin: 1.25em 1.5em;
}

@media screen and (max-width: 1100px) {
    .left__card {
        width: calc(50% - 2.5rem);
        margin: 1.25rem;
    }
    
    .right__side {
        width: 50%;
    }
}

@media screen and (max-width: 850px) {

    .editor {
        flex-direction: column;
    }
    .left__card {
        width: 95%;
        margin: 1.2rem;
        min-height: fit-content;
    }
    
    .right__side {
        width: 100%;
    }
}