:root {
  box-sizing: border-box;
}

.landing__page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.info {
  transition: all 120ms ease-in;
  left: 16.667vw;
  top: 20vh;
  position: absolute;
  background: none;
  z-index: 2;
  width: clamp(10em, 55%, 60em);
}

.splash__title {
  text-shadow: 0px 4px 4px var(--clr-shadow);
  width:fit-content;
  margin-right: 0;
  font-size: clamp(3rem, 20vw, 5rem);
  color: #fff;
  border-bottom: .09375em solid #fff; /* 3/32 */
  padding-bottom: .03125em; /* 1/32 */
  margin-bottom: .25em;
}

.splash__subtitle {
  text-shadow: 0px 4px 4px var(--clr-shadow);
  margin-top: .25em;
  color: #fff;
  font-weight: 300;
  font-size: clamp( 2.1rem, 3vw, 2.8rem);
}

.splash__button {
  font-family: var(--fnt-splash);
  text-transform: uppercase;
  color: #fff;
  font-size: clamp( 1.25rem, 5vw, 2.25rem);
  font-weight: 600;
  background-color: var(--clr-secondary);
  border: none;
  padding: .3em 1.5em;
  border-radius: .4rem;
  text-shadow: 0px 4px 4px var(--clr-shadow);
}

.splash__button:hover {
  cursor: pointer;
  box-shadow: inset 0px 4px 4px var(--clr-shadow);
  text-shadow: none;
  background-color: #82A4D8;
}

.splash {
  background: var(--clr-primary);
  height: 100vh;
  width: 100vw;
}

.hero {
  transition: transform 280ms ease-in ;
  transform: translateX(32%);
  right: 0;
  top: 0;
  height: 100vh;
  width: fit-content;
  position: absolute;
}

.gradient {
  transform: translateX(-2px);
  z-index: 2;
  position: relative;
  background: linear-gradient(to right,var(--clr-primary), transparent);
  width:60%;
  height: 100%;
  left:0;
  top: 0;
}

.splash__img {
  z-index: 0;
  position: relative;
  top: 0;
  right: 0;
  width: auto; 
  height: 120vh;
  transform: translateY(-92%);
  overflow: hidden;
}

.credit {
  font-family: var(--fnt-splash);
  font-weight: 500;
  position:absolute;
  bottom: 0.375em;
  left: 0.375em;
  cursor: pointer;
  color: #536e97;
  text-shadow: 2px 2px 6px #DDD;
}

@media screen and ( max-width:750px ) {
  .hero {
    transform: translateX(50%);

  }
  .conditional__br {
    display: none;
  }
  .info {
    transition: all 120ms ease-in;
    left: 7.5vw;
    top: 5vh;
    width: 80%;
    overflow-y: auto;
  }

}